
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ajouter un Utilisateur</h3>
            </div>
            <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    {{form_widget(form.nom)}}
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    {{form_widget(form.prenom)}}
                </div>
                <div class="form-group">
                    <label for="phone">Telephone</label>
                    {{form_widget(form.phone)}}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{form_widget(form.email)}}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{form_widget(form.plainPassword)}}
                </div>
                <div class="form-group">
                    <label for="entreprise">Entreprise</label>
                    {{form_widget(form.entreprise)}}
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label><br>
                    {{form_widget(form.adresse)}}
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
            </form>
        </div>
    </div>
{{ form_end(form) }}