{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Modifier un  utilisateur</h1>
                </div> 
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Modifier l'utilisateur</li>
                    </ol>
                </div> 
                </div> 
            </div> 
        </div>
        <section class="content">
        <div class="container-fluid">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6 mx-auto">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Modifier l'tilisateur</h3>
                        </div>
                        <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                {{form_widget(form.nom)}}
                            </div>
                            <div class="form-group">
                                <label for="prenom">Prenom</label>
                                {{form_widget(form.prenom)}}
                            </div>
                            <div class="form-group">
                                <label for="phone">Telephone</label>
                                {{form_widget(form.phone)}}
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                {{form_widget(form.email)}}
                            </div>
                            <div class="form-group">
                                <label for="entreprise">Entreprise</label>
                                {{form_widget(form.entreprise)}}
                            </div>
                            <div class="form-group">
                                <label for="adresse">Adresse</label><br>
                                {{form_widget(form.adresse)}}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                            <a class="btn btn-primary" href="{{path('app_admin_user_edit_password', {id: user.id})}}">Modifier mot de passe</a>
                        </div>
                        </form>
                    </div>
                </div>
            {{ form_end(form) }}
            
        </div> 
        </section>
        
    </div>
{% endblock %}
