{% extends 'baseAdmin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Utilisateur</h1>
            </div> 
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Utilisateur</li>
              </ol>
            </div> 
          </div> 
        </div> 
      </div> 
      <section class="content">
        <div class="container-fluid">
          
              <table id="example1" class="table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <th>Entreprise</th>
                        <td>{{ user.entreprise }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ user.adresse }}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
      </section>    
    </div>    
{% endblock %}
