{% extends 'baseAdmin.html.twig' %}

{% block title %}Plan{% endblock %}

{% block body %}
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Plan</h1>
            </div> 
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"> Plan </li>
              </ol>
            </div> 
          </div> 
        </div> 
      </div> 
      <section class="content">
        <div class="container-fluid">
          
              <table id="plantermine" class="table table-striped">
                  <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ plan.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ plan.name }}</td>
                        </tr>
                        <tr>
                            <th>Chantier</th>
                            <td>{{ plan.chantier }}</td>
                        </tr>
                        <tr>
                            <th>Notes</th>
                            <td>{{ plan.notes }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ plan.date ? plan.date|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date Ajout</th>
                            <td>{{ plan.createdAt ? plan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Priorite</th>
                            <td>{{ plan.priorite }}</td>
                        </tr>
                        <tr>
                            <th>Client</th>
                            <td>{{ plan.user.entreprise }}</td>
                        </tr>
                        <tr>
                            <th>Fichiers Client</th>
                            <td>
                                {% for fichier in plan.fichiers %}
                                    <a target="_blank" href="{{ asset('/uploads/fichierClient/'~fichier.name) }}" alt="" width="50"><i class="fa fa-file fa-2x"></i>{{fichier.name}} </a>
                                {% endfor %} 
                            </td>     
                        </tr>
                        <tr>
                            <th>Fichiers Décortiqueur</th>
                            <td>
                                {% for fichier in plan.fiechierDeco %}
                                    <a target="_blank" href="{{ asset('/uploads/fichierDecor/'~fichier.name) }}" alt="" width="50"><i class="fa fa-file fa-2x"></i>{{fichier.name}} </a>
                                {% endfor %} 
                            </td>     
                        </tr>
                        <tr>
                          <th>Tonnage TS</th>
                          <td>{{ plan.tonnageTS}}</td>
                        </tr>  
                        <tr>  
                          <th>Tonnage CA</th>
                          <td>{{ plan.tonnageCA }}</td>
                        </tr>  
                        <tr>  
                          <th>Tonnage CF</th>
                          <td>{{ plan.tonnageCF }}</td>
                        </tr>
                    </tbody> 
                </table>      
        </div> 
      </section>    
    </div>
{% endblock %}
